    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span class="brandName"></span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://docs.shippable.com" target="_blank">docs</a></li>
            <li><a href="http://blog.shippable.com" target="_blank">blog</a></li>
            <li><a href="https://github.com/devops-recipes/deploy-ecs-basic" target="_blank">source code</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>